In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

### Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

In [26]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT Facilities.name, SUM(Bookings.slots * (
        CASE WHEN Bookings.memid = 0 THEN Facilities.guestcost ELSE Facilities.membercost END)) AS totalrevenue
        FROM Bookings
        INNER JOIN Facilities 
        ON Bookings.facid = Facilities.facid
        GROUP BY Facilities.name
        HAVING SUM(Bookings.slots * (
        CASE WHEN Bookings.memid = 0 THEN Facilities.guestcost ELSE Facilities.membercost END)) < 1000
        ORDER BY totalrevenue; 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

###  Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [20]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m.firstname || ' ' || m.surname AS FullName, (
            SELECT m.firstname || ' ' || m.surname
            FROM Members AS m
            WHERE recommendedby = m.memid) AS recommended
        FROM Members AS m
        ORDER BY FullName;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Anna Mackenzie', None)
('Anne Baker', None)
('Burton Tracy', None)
('Charles Owen', None)
('Darren Smith', None)
('Darren Smith', None)
('David Farrell', None)
('David Jones', None)
('David Pinker', None)
('Douglas Jones', None)
('Erica Crumpet', None)
('Florence Bader', None)
('GUEST GUEST', None)
('Gerald Butters', None)
('Henrietta Rumney', None)
('Henry Worthington-Smyth', None)
('Hyacinth Tupperware', None)
('Jack Smith', None)
('Janice Joplette', None)
('Jemima Farrell', None)
('Joan Coplin', None)
('John Hunt', None)
('Matthew Genting', None)
('Millicent Purview', None)
('Nancy Dare', None)
('Ponder Stibbons', None)
('Ramnaresh Sarwin', None)
('Tim Boothe', None)
('Tim Rownam', None)
('Timothy Baker', None)
('Tracy Smith', None)

### Q12: Find the facilities with their usage by member, but not guests

In [48]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT Facilities.name, COUNT(Facilities.name) AS usage
        FROM Bookings 
        INNER JOIN Facilities 
        ON Bookings.facid = Facilities.facid
        INNER JOIN Members
        ON Bookings.memid = Members.memid
        WHERE Bookings.memid != 0.0
        GROUP BY name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

### Q13: Find the facilities usage by month, but not guests

In [14]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT strftime('%m', Bookings.starttime) AS month, Facilities.name, COUNT(Facilities.name)
        FROM Bookings 
        LEFT JOIN Facilities 
        ON Bookings.facid = Facilities.facid
        WHERE Bookings.memid != 0.0
        GROUP BY month, name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 'Badminton Court', 51)
('07', 'Massage Room 1', 77)
('07', 'Massage Room 2', 4)
('07', 'Pool Table', 103)
('07', 'Snooker Table', 68)
('07', 'Squash Court', 23)
('07', 'Table Tennis', 48)
('07', 'Tennis Court 1', 65)
('07', 'Tennis Court 2', 41)
('08', 'Badminton Court', 132)
('08', 'Massage Room 1', 153)
('08', 'Massage Room 2', 9)
('08', 'Pool Table', 272)
('08', 'Snooker Table', 154)
('08', 'Squash Court', 85)
('08', 'Table Tennis', 143)
('08', 'Tennis Court 1', 111)
('08', 'Tennis Court 2', 109)
('09', 'Badminton Court', 161)
('09', 'Massage Room 1', 191)
('09', 'Massage Room 2', 14)
('09', 'Pool Table', 408)
('09', 'Snooker Table', 199)
('09', 'Squash Court', 87)
('09', 'Table Tennis', 194)
('09', 'Tennis Court 1', 132)
('09', 'Tennis Court 2', 126)